.mainNav {
  height: 100px;
  width: 100%;
  background-color: rgb(242, 69, 98);
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  h1 {
    color: rgb(255, 255, 255);
  }
  .title {
    a {
      text-decoration: none;
    }
  }
  .list {
    display: flex;
    gap: 40px;
    a {
      text-decoration: none;
    }
  }
}
