.homeMain{
   
    .navHome{
        height: 90px;
        width: 100%;
       background-color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .title{
            color: white;
        }
        .list{
            display: flex;
            gap: 41px
       
            
        }
        .link{
            text-decoration: none;
            color: white;
         }
    }
 .titleHome{
    display: flex;
    justify-content: center;
 }
 
}